.header-section {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: black;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.logo-image {
  height: 100px;
  width: 200px;
}

.nav-link {
  color: white;
  display: inline;
  font-family: sans-serif;
  padding: 15px;
  font-size: 15px;
}
.hamburger-div {
  display: none;
}

.hamburger-nav-bar {
  display: none;
}

.img-name {
  color: white;
  font-size: 2.25rem;
  font-family: sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .hamburger-div {
    display: block;
  }

  .hamburger-div:hover .hamburger-nav-tittle {
    display: block;
  }

  .hamburger {
    margin-right: 2%;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .hamburger-lines {
    width: 80%;
    border: 1px solid white;
  }

  .hamburger-div:hover .hamburger-lines {
    position: absolute;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
  }

  .hamburger-div:hover .line1 {
    transform: rotate(45deg);
  }

  .hamburger-div:hover .line3 {
    transform: rotate(-45deg);
  }

  .hamburger-div:hover .line2 {
    display: none;
  }

  .ban-img {
    height: 50px;
    margin-top: 200px;
    padding-top: 300px;
    padding-right: 20px;
    width: 120vh;
    flex-direction: column;
  }

  .footer-back {
    margin-left: 150px;
  }
  .broswe-job {
    margin-left: 150px;
    margin-top: 50px;
  }
  .Grid {
    margin-left: 100px;
  }
  .container-box1 {
    padding-top: 170px;
    color: red;
    text-align: center;
    font-size: 30px;
    padding-left: 250px;
    padding-bottom: 20px;
  }

  .cc-head {
    font-family: sans-serif;
    text-align: center;
    padding-left: 250px;
    padding-bottom: 20px;
  }

  .cc-con {
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    padding-left: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .img-name {
    margin-left: 200px;
  }
  .header-section {
    flex-direction: column;
    height: 200px;
    width: 120vh;
  }

  .banner {
    flex-direction: column;
    width: 120vh;
  }

  .ban-con {
    color: white;

    float: left;
  }

  .ban-head,
  .ban-para {
    flex-direction: column;
  }

  .ban-para {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: white;
}
.navigation {
  margin-top: 20px;
  margin-right: 20px;
}

.but {
  background-color: #2f9ee5;
  border-radius: 15px;
}

.nav-con {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  display: flex;
  background-color: black;
  height: 200px;
  padding-top: 0px;
  margin-top: 0px;
}

.ban-img {
  height: 350px;

  padding-left: 35px;
  padding-top: 0px;
  margin-top: 0px;
  width: 95%;
  filter: brightness(65%);
}
.container-box1 {
  padding-top: 170px;
  color: red;
  text-align: center;
  font-size: 30px;
}

.cc-head {
  font-family: sans-serif;
  text-align: center;
}

.cc-con {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

.Grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 50px;
}

.Grid-box {
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#img1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

#img2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
#img3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#img4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#img5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-img1 {
  height: 476px;
  width: 100%;
}

.grid-img2 {
  height: 319px;
  width: 100%;
}
.grid-img3 {
  height: 157px;
  width: 100%;
}
.grid-img4 {
  height: 158px;
  width: 100%;
}
.grid-img5 {
  height: 318px;
  width: 100%;
}

.container-box2 {
  color: red;
  text-align: center;
  font-size: 30px;
}
.bj-head {
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
}

.broswe-job {
  background-color: #f6f8f8;
  height: 600px;
  padding-left: 50px;
}

.dept-label {
  font-size: 16px;
  font-weight: 800;
  font-family: sans-serif;
}

#dropdown {
  height: 60px;
  width: 95%;
  align-items: center;
  font-size: 16px;
  color: #2d2d2d;
}

.broswe-content {
  padding-top: 50px;
  justify-content: center;
  font-size: 16px;
  color: #2d2d2d;
  text-align: justify;
  padding-right: 20px;
}

.footer-back {
  background-color: black;
  height: 410px;
  margin-bottom: 0px;
}

.foot-con {
  color: white;
  padding-top: 70px;
  text-align: center;
  font-family: sans-serif;
}

.foot-but {
  background-color: #2f9ee5;
  border-radius: 15px;
  height: 40px;
  font-size: 15px;
  color: white;
}
.git-logo {
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
}

.last-con {
  color: white;
  font-size: 13px;
}

.down-logo {
  margin-bottom: 10px;
}

.left-line {
  float: right;
}
.right-line {
  color: #2e9ee4;
}
